*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 9%;
    background: transparent;
}
body{
    background:#c6a248;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    font-size: 30px;
    font-weight: 950;
    border-bottom: 20px;
    color: rgb(0, 0, 0);
}
.boxer{
    margin-top: 8%;
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxer .form-register {
    width: 100%;
    padding: 40px;
}


.form-register h2{
    font-size: 2em;
    color: rgb(36, 32, 32);
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(43, 37, 37);
    margin: 30px 0;
}

.input-box label{
    position: relative;
    top: 30%;
    left: 0%;
    transform: translateX(-45%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
    transition: all .2s ease;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: rgb(7, 7, 7);
    line-height: 57px;
}

.btn{
    width: 100%;
    height: 45px;
    background:black;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.register{
    font-size: 1em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.register p a{
    color: black;
    text-decoration: none;
    font-weight: 650;
}

.register p a:hover{
    text-decoration: underline;
}

@media (max-width: 990px){
    .boxer{
        margin-top: 20%;
    }
    .form-register{
        width: 50%;
        padding: 10%;
    }
}


@media (max-width: 680px){
    .boxer {
        margin-top: 25%;
        width: 90%; 
        max-width: 350px; 
        max-height: 450px;
    }

    .form-register {
        width: 100%;
        padding: 20px;
    }
    .input-box {
        margin: 15px 0; 
    }

    .btn {
        font-size: 0.9em; 
    }
}